.tip-container{
    padding-top: 40px;
}
.tip-container img {
    padding-bottom: 32px;
}

.tip-container p {
    text-align: left;
}

@media (min-width: 1280px) {

    .container-section-3 {
      display: flex;
      gap: 32px;
      padding: 82px 102px;
    }
  
  }
