.container-section-3 {
    padding: 16px 24px 56px 24px;
    background: var(
      --colors-gradient-1,
      linear-gradient(90deg, rgba(214, 252, 254, 0) 0%, #f6faff 100%)
    );
  }

.tip-container{
    padding-top: 40px;
}
.tip-container img {
    padding-bottom: 32px;
}

.tip-container p {
    text-align: left;
}

@media (min-width: 1280px) {

    .container-section-3 {
      display: flex;
      gap: 32px;
      padding: 82px 102px;
    }
  
  }
